<body style="
background-color: #e9d9a8;
font-family: 'Playfair Display SC', serif;
"> 
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">

<div class="container">
<h1>New Country</h1>

<%= render 'form', country: @country %>

<button type="button" class="btn btn-light"><%= link_to 'Back', countries_path %></button>
</div>
</body>